[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment.d/systemd.env
ExecStartPre=/usr/bin/test $MOUNT_AUTO == true
ExecStart=/usr/local/bin/usb_mount.sh %i
ExecStop=/usr/local/bin/usb_umount_auto.sh /dev/%i
