! special
*.foreground:   #BDBDBD
*.background:   #000000
*.cursorColor:  #1976D2

! black
*.color0:       #000000
*.color8:       #212121

! red
*.color1:       #EF5350
*.color9:       #D32F2F

! green
*.color2:       #66BB6A
*.color10:      #388E3C

! yellow
*.color3:       #FFEE58
*.color11:      #FBC02D

! blue
*.color4:       #42A5F5
*.color12:      #1976D2

! magenta
*.color5:       #AB47BC
*.color13:      #7B1FA2

! cyan
*.color6:       #26C6DA
*.color14:      #0097A7

! white
*.color7:       #616161
*.color15:      #BDBDBD

Xft.antialias: true
Xft.dpi: 100.0
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.scrollBar: false
URxvt.font: xft:JetBrains Mono NL:style=Regular:size=10
