! special
*.foreground:   #BDBDBD
*.background:   #000000
*.cursorColor:  #BDBDBD

! black
*.color0:       #212121
*.color8:       #000000

! red
*.color1:       #D32F2F
*.color9:       #EF5350

! green
*.color2:       #388E3C
*.color10:      #66BB6A

! yellow
*.color3:       #FBC02D
*.color11:      #FFEE58

! blue
*.color4:       #1976D2
*.color12:      #42A5F5

! magenta
*.color5:       #7B1FA2
*.color13:      #AB47BC

! cyan
*.color6:       #0097A7
*.color14:      #26C6DA

! white
*.color7:       #BDBDBD
*.color15:      #616161

Xft.antialias: true
Xft.dpi: 100.0
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.scrollBar: false
URxvt.font: xft:JetBrains Mono NL:style=Regular:size=10

URxvt.keysym.C-A-c: builtin-string:
URxvt.keysym.C-A-v: builtin-string:
URxvt.keysym.A-c: eval:selection_to_clipboard
URxvt.keysym.C-v: eval:paste_clipboard
